body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background-color:beige;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background:beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.package {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}
.package img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h2 {
    color: #333;
}
.link {
    color:beige;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
button {
    background-color:cadetblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:cadetblue;
}